bodu {
    font-family: Roboto;
    background-color: #EDBA61;
    color: #3267A1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Grenzy Gotisch";
    text-align: center;
}
h1 {
    font-size: 40pt;
}

header {
    text-align: center;
}

#hero, footer {
    color: #82BEFF;
    border: 2px solid #61A5ED;
    background-color: #A3721C;
    text-align: center;
    padding: 10px;
}

/* Hero Section */

#hero img {
    width: 300px
}

/*Bio Section*/

#bio {
    text-align: center;
}

/* Hobbies */

#hobbies ul li:nth-child(even){
color: #3267A1;
}

/* Gallery */

#gallery {
    border: 2px solid#61A5ED;
    margin-bottom: 2rem;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align: center;
}

/* Literature */
#lit {
    border: 2px solid#61A5ED;
    margin-bottom: 2rem;
}

#lit div {
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}